<nz-layout
  class="ant-layout-has-sider h-screen w-full overflow-hidden font-sans text-slate-800"
>
  <!-- SIDER -->
  <app-sidebar [isCollapsed]="isCollapsed" />

  <!-- LAYOUT RIGHT -->
  <nz-layout class="flex flex-col overflow-hidden">
    <!-- NAVBAR -->
    <nz-header class="shrink-0 z-40">
      <app-navbar
        [breadcrumbs]="breadcrumbs"
        [isCollapsed]="isCollapsed"
        (toggleCollapsed)="toggleCollapse($event)"
      />
    </nz-header>

    <!-- CONTENT AREA -->
    <nz-content class="flex-1 overflow-y-auto overflow-x-hidden bg-slate-50">
      <router-outlet />
      <app-chat />

      <nz-footer class="text-center text-slate-400 bg-transparent py-6">
        {{ "Hệ thống đặt vé CinePlex" | translate }} &copy;
        {{ date.getFullYear() }}
      </nz-footer>
    </nz-content>
  </nz-layout>
</nz-layout>
